* {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #ea907a;
}

body{
  align-items: center;
  justify-self: center;
}

.main {
  display: block;
  background: rgb(170, 205, 190);
  background: url("assets/grid_background.png"),
    linear-gradient(
      328deg,
      rgba(170, 205, 190, 1) 0%,
      rgba(244, 247, 197, 1) 53%
    );
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  display: flex;
  padding: 20px;
  padding-left: 50px;
  align-items: center;
}

.navbar img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar a {
  display: contents;
  text-decoration: none;
}

.navbar h3 {
  text-align: center;
  text-decoration: none;
  color: #ea907a;
  padding-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1.25em;
}

.home {
  display: flex;
  padding: 30px;
  padding-top: 100px;
  padding-left: 50px;
  align-items: center;
  justify-content: center;
}

.home div {
  flex-grow: 500px;
  flex-basis: 600px;
  padding-right: 50px;
}

.home h1 {
  background: rgb(234, 144, 122);
  background: linear-gradient(
    144deg,
    rgba(234, 144, 122, 1) 0%,
    rgba(251, 198, 135, 1) 84%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-weight: bolder;
  font-size: 5em;
  flex-grow: 1;
  flex-basis: 500px;
}

.home p {
  padding-top: 20px;
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1.5em;
}

.home img {
  width: 400px;
  height: auto;
  border-radius: 40px;
}

.home button {
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: #ea907a;
  color: #ea907a;
  background-color: #f4f7c5;
  font-size: 1.8em;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-weight: bold;
}

.home button:hover {
  color: #f4f7c5;
  background-color: #ea907a;
}

.secpage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 100px;
}

.secpage img {
  padding: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50px;
}

.secpage .benefit {
  margin-left: 80px;
}
.benefit {
  width: 500px;
  height: auto;
}

.benefit h2 {
  padding-bottom: 20px;
  font-size: 3em;
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.benefit-list {
  list-style-position: outside;
  list-style-type: square;
  list-style-position: inside;
}

.benefit-list li {
  padding: 5px;
  padding-bottom: 10px;
  font-size: 1.5vw;
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.thirdpage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 100px;
}

.thirdpage article{
  margin-right: 80px;
  width: 500px;
  height: auto;
}

.thirdpage h2{
  padding-bottom: 20px;
  font-size: 3em;
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.thirdpage p{
  padding: 5px;
  padding-bottom: 10px;
  font-size: 1.5em;
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.thirdpage img{
  padding: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50px;
}

.reading-journey{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reading-journey section{
  background: rgb(170, 205, 190);
  background: url("assets/grid_background.png"),
    linear-gradient(
      328deg,
      rgba(170, 205, 190, 1) 0%,
      rgba(244, 247, 197, 1) 53%
    );
  display: block;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 1300px;
  height: 300px;
  border-radius: 20px;
  margin-top: 70px;
}

.reading-journey h1{
  padding-top: 40px;
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 2.5vw;
}

.reading-journey ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  padding-top: 30px;
  gap: 100px;
  font-size: 1.5vw;
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.membership {
  display: block;
  text-align: center;
  margin-top: 100px;
}

.membership h1{
  font-size: 2.75vw;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #ea907a;
}

.options{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  grid-template-columns: 300px 350px 300px;
  gap: 20px;
}

.starter , .pro , .enterprise{
  border: solid lightgray;
  text-align: start;
  border-radius: 20px;
  display: block;
}

.starter, .enterprise{
  height: 400px;
  padding: 20px;
}

.options h3{
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 2vw;
}

.options h4, ul{
  color: #ea907a;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  padding-top: 20px;
  font-size: 1.5vw;
}

.pro{
  background: rgb(170, 205, 190);
  background: linear-gradient(
      328deg,
      rgba(170, 205, 190, 1) 0%,
      rgba(244, 247, 197, 1) 53%
    );
  height: 450px;
  padding-left: 20px;
  padding-top: 50px;
}

.enterprise{
  height: 400px;
}

.starter div, .enterprise div{
  width: 250px;
  border-bottom: solid lightgray;
  padding-bottom: 30px;
}

.pro div{
  width: 300px;
  border-bottom: solid lightgray;
  padding-bottom: 30px;
}

.options ul{
  padding-left: 20px;
  list-style-type: square;
  list-style-position: inside;
}

.options button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border-color: #ea907a;
  color: #ea907a;
  background-color: #f4f7c5;
  font-size: 1.25vw;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-weight: lighter;
}

.pro button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: lighter;
  width: 305px;
}

.options button:hover{
  background-color: #ea907a;
  color: #f4f7c5;
} 

.quote-section{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 15px;
  margin-bottom: 10px;
  padding-right: 300px;
  padding-left: 300px;
}

.quote-section img{
  width: 150px;
  height: 50px;
  object-fit: cover;
}

.quotes{
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
}

.write-by {
  padding-top: 15px;
  font-size: 1.75vw;
  text-align: center;
  font-style: italic;
}

.footer{
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ea907a;
  width: 100%;
  height: 380px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.footer h1{
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #f5f5f5;
  font-size: 3vw; 
  font-weight: 500;
}
.connectmenu{
  display: inline-block;
  margin-bottom: 110px;
}

.connect{
  margin-top: 40px;
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 250px;
  font-size: 1.25vw;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: white;
  font-weight: bold;
  border: #AACDBE solid;
  border-radius: 20px;
  cursor: pointer;
}

.connect-list{
  display: none;
  position: absolute;
  background-color: #AACDBE;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 250px;
}

.connect-list a{
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px;
  font-size: 1.15vw;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.connect-list a:hover{
  background-color: #668074;
  border-radius: 10px;
}

.connectmenu:hover .connect{
  border-color: #668074;
  background-color: #668074;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

}

.connectmenu:hover .connect-list{
  display: block;
}

footer{
  background-color: #ea907a;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;

}

.footer-content{
  border-top: lightgray solid;
  width: 85%;
}

.footer-content p{
  color: white;
  padding-top: 5px;
  font-style: oblique;
}
